* {
        background-color: lightblue;
        padding: 5px;
}

/* header section */
header {
        background-color: rgb(105, 177, 240);
        display: flex;
        justify-content: space-between;
}

header h1 {
        border: 5px solid blue;

}

header nav {
        width: 450px;
        display: flex;
        align-items: center;

}

header nav ul {
        display: flex;
        justify-content: space-between;
        width: 100%;

}

header nav ul li {
        border: 5px solid blue;
        list-style: none;
}

/* main section*/

main {
        display: block;
}

/* Body section */

article {
        border: 3px solid blue;
}

h2 {
        background-color: aquamarine;
        font-size: large;
}



/* Footer Section */
footer {
        border: 5px solid blue;
}

footer ul li {
        list-style: none;
}

/* Add Media query*/
@media screen and (max-width: 992px) {
        header {
                background-color: lightseagreen;
        }

}

@media screen and (max-width: 768px) {
        header nav {
                background-color: darkcyan;
        }

}