* {
        background-color: blue;
}
/* header section */
header {
        border: 1px solid green;
        display: flex;
        justify-content: space-between;
}
header h1 {
        border: 1px solid red;
    
}

header nav {
        border: 1px solid darkcyan;
        width: 450px;
        display: flex;
        align-items: center;
    
}

header nav ul {
        border: 1px solid brown;
        display: flex;
        justify-content: space-between;
        width: 100%;

}

header nav ul li {
        border: 5px solid red;
        list-style: none;
    }
/* main section*/

main {
        border: 5px solid mediumpurple;
        display: block;
}